{% extends "base.html" %}
{% block title %}
    <title>Oooops...</title>
{% endblock title %}
{% block content %}
    <p>
        <big>OOOOPPPSSSS....</big>
    </p>
    {% if detail == 401 %}
    <p>
        <strong>
            Please, <a href="{{ url_for('get_login') }}">login</a> or <a href="{{ url_for('get_create_user') }}">create</a> account
        </strong>
    </p>
    {% else %}
    <p>
        <strong>
            {{ detail }}
        </strong>
    </p>
    {% endif %}
{% endblock content %}