{% extends "base.html" %}

{% block title %}
    <title>Memo</title>
{% endblock title %}
{% block content %}
    {% if result %}
        <p>
            {{ result }}
        </p>
    {% elif username %}
        <p>
            {{ username }} Notes
        </p>
    {% endif %}

    <button formaction="*"><a href="/create_note"> Create new note</a></button>

    <button><a href="{{ url_for('get_all_notes_by_user') }}">Show my notes</a></button>
    <button>Delete my notes</button>

    {% if notes %}
        <ul>
        {% for note in notes %}
<!--            ../notes/{{ note.id }}-->
            <li><a href="{{ url_for('get_note_by_id', note_id=note.id) }}">{{ note.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}