<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo</title>
</head>
<body>
    {% if result %}
    <p>
        {{ result }}
    </p>
    {% endif %}

    <button formaction="*"><a href="/create_note"> Create new note</a></button>
    <button><a href="/all_notes">Show my notes</a></button>
    <button>Delete my notes</button>

    {% if notes %}
        <ul>
        {% for note in notes %}
            <li><a href="../{{ note.id }}">{{ note.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>