<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {% if user_email %}
        <form class="form" action="../auth/check_password" method="post">
            <p>Enter password for {{ user_email }}</p>
            <input type="hidden" name="email" value="{{ user_email }}">
            <input name="password" class="input" type="text" placeholder="000-000">
            <button class="btn" type="submit">Sign in</button>
        </form>
    {% else %}
        <form class="form" action="" method="post">
          <input name="email" class="input" type="text" placeholder="email">
          <button class="btn" type="submit">Sign in</button>
        </form>
    {% endif %}
</body>
</html>